body {
  overflow: hidden;
}


.font {
  font-family: "Yatra One", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 100vh;
  /* fallback for old browsers */
  background: #FC5C7D;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
}

spline-viewer {
  position: relative;
  z-index: 2;
}

.subscribersCount {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 50vw;
  /* opacity: 0.4; */
  perspective: 500px;
	/* perspective-origin: 50% 0%; */

  color: #fff; /* fallback */
	background: -webkit-linear-gradient(0deg, rgba(255,255,255,.5), rgba(255,255,255,0.1), rgba(255,255,255,.5));
	background: linear-gradient(90deg, rgba(255,255,255,.05), rgba(255,255,255,0.1), rgba(255,255,255,.05));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
  overflow: visible;

  span {
    display: block;
    /* inset-block-start: -0.45em; */
		transform: rotate3d(0, 1, 0, -6deg);
  }
}

.list {
  display: none;
  gap: 20px;
}